/* Inside the Dashboard.css file */

.carousel-container .prev-button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    z-index: 10;
}

.carousel-container .next-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    z-index: 10;
}

.map-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px; /* Adjust the maximum width as needed */
}

.map-container {
    height: 200px; /* Adjust the height of the map container as needed */
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.close-btn {
    background-color: #ff4d4f;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.close-btn:hover {
    background-color: #ff7875;
}
.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #38a169; /* Green color */
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 999;
  }
/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
    